@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="kod" required/>
        <input type="submit" value="QR Olustur" />
    }
    <br />
    @if (ViewBag.karakodimage != null)
    {
        <img src="@ViewBag.karakodimage" alt="" style="width:400px; height:400px" />
    }
</div>

