@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <p>
        Urun Adi: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <td>Personel</td>
        <td>Alici</td>
        <td>Tarih</td>
        <td>Detaylar</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Personel</td>
            <td>@item.Alici</td>
            <td>@item.Tarih</td>
            <td><a href="/Departman/DepartmanDetay/@item.KargoDetayID" class="btn btn-secondary">Kargo Detay</a></td>
        </tr>
    }
</table>
<a href="/Departman/YeniDepartman/" class="btn btn-primary">Yeni Kargo Girisi</a>

